<p id="notice"><%= notice %></p>

<h1><%= @photo.name %></h1>
<p>
  <%= image_tag @photo.image.url(:original), size: "400x300"%>
</p>
<h2>
  <strong>By:</strong>
  <%= @photo.user.name %>
</h2>

<%= link_to 'Back', photos_path %>
